  #app {
    font-family: 'MicrosoftYaHeiLight', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-width: 990px;
    background-color: transparent;
    margin-bottom: 200px;
    overflow: hidden;
  }
  body,
  p {
    margin: 0
  }
  input { border: none; }
  .wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

/*头部内容*/

  .container_h {
    background: url('../../../static/img/bg_head.png') no-repeat top;
    margin: 0 auto;
    min-width: 990px;
    padding-top: 20px;
    background-size: cover;
    height: auto;
  }

  .header {
    min-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .title {
    width: 500px;
    height: 120px;
  }

  .logo {
    float: left;
  }

  .logo_info,
  .link_info {
    overflow: hidden;
    height: auto;
    width: 100%
  }

  .logo>img {
    width: 100px;
    height: 73px;
  }

  .logo_hopes {
    margin-left: 50px;
  }

  .logo_hopes>img {
    width: 192px;
    height: 62px;
    float: left;
    margin-left: 66px;
  }

  .phone_img {
    width: 18px;
    margin-right: 4px;
    float: left;
  }

  .phone_img>p {
    line-height: 18px;
    font-size: 18px;
    margin-left: 20px;
  }

  .hopes_fonts {
    background-color: #5a84a8;
    color: #fff;
    width: 200px;
    height: 38px;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
  }

  .link_info {
  	display: flex;
  	justify-content: left;
    margin-top: 20px;
  }

  .link {
    width: 200px;
    height: 38px;
    margin-left: 12px;
  }
  .link >div {
  	height: 18px;
  }
  .link div:first-child {
  	margin-top: 3px;
  }
  .link >div > img {
  	text-align: center;
  }
  .link >div >p {
  	font-size: 14px;
  	color: #000;
  	font-weight:bold;
  	font-family:MicrosoftYaHei;
  	line-height: 18px;
    user-select:text;
  }

/*登陆*/
  .sign_in {
    width: 210px;
    background: transparent;
    overflow: hidden;
  }

  .sign_in>h2 {
    width:100px;
    text-align: left;
	font-size:20px;
	font-family:MicrosoftYaHeiLight;
	font-weight:300;
	color:rgba(0,0,0,1);
	line-height:20px;
	margin-bottom: 5px;
  }
  .sign_in_input{ 
	width:210px;
	height:27px;
	display: flex;
	justify-content: left;
 }
 .sign_in_input + div{
 	margin-top: 13px;
 }
 .sign_in_input a {
 	width:46px;
	height:27px;
	background:rgba(221,221,221,1);
  cursor: default;
 }
  .sign_in img {
    width: 23px;
    margin: 0 auto;
  }
  #submit {
  	width:211px;
	height:26px;
	text-align: center;
	background:rgba(236,27,26,1);
	border-radius:7px;
	margin-top: 14px;
	color: #FFFFFF;
  }

/*菜单*/
  .nav {
    min-width: 990px;
    margin: 0 auto;    
  }
  .nav_detail {
    margin-left: 100px;
  }
  .nav_con {
    /*width: 1260px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .el-menu {
    color: #fff;
  }

/* 搜索 */
  .search_box {
    margin: 10px 20px 20px 20px;
    overflow: hidden;
    height: 40px;
    width: 310px;
  }
  .search_ipt {
    width: 250px;
    border: none;
    border-radius: 0;
    float: left;
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .search_ipt>input {
    height: 12px;
    line-height: 12px;
    font-size: 15px;
    padding: 12px 10px 12px 0;
    border: none;
    width: calc(100% - 40px);
    float: left;
    margin-left: 15px;
    -webkit-appearance: none;
    outline: none;
  }
  .search_btn {
    float: left;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #444;
    cursor: pointer;
    background-color: #fff
    
  }
  .search_btn img{
    width: 25px;
    background-color: #fff;
    margin-left: 2px;
  }

/* 标语*/
  .pro_info{
    min-width: 990px;
    margin: 0 auto;
    position: relative;
  }
  .pro_tip {
    min-width: 990px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
  }
  .pro_tip>h2 {
    color: #EC1B1A;
    font-size: 54px;
    line-height:70px;
    font-weight:900;
    font-family:Geometric415BT-BlackA;
    font-style:italic;
    margin-top: 200px;
  }
  .pro_p {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 24px;
  }
  .pro_tip>h1 {
    font-size: 56px;
    color: red;
    margin-bottom: 460px
  }
  .pro_tip>h1>a {
    font-size: 22px;
    color: #000;
  }

/* 3D 、直播 产品展示*/

  .pro_show {
    position: absolute;
    right: 0;
    top: 0;
    width: 532px;
    height: auto;
    background: rgba(255,255,255,0.7);
    padding-bottom: 25px;
  }
  .pro_show_part > h1{
    font-size: 33px;
    line-height: 45px;
    text-align: left;
    margin: 20px auto 14px 7px;
  }
  .live {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .pro_show_dec {
    width: 130px;
    height: 260px;
    overflow: hidden;
    margin: 0 8px;
    font-size: 15px;
    color: #000;
    line-height: 27px;
    font-weight: bolder;
  }
  .pro_show_dec >p {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:9;
  }
  .pro_show_dec >p + p {
    margin-top: 40px;
  }
  .pro_show_live{
    width: 360px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 25px;
  }
  .live_iframe {
    position:absolute;
    top: 0;left: 0px; 
    background-image: url('../../../static/img/fur_model_2.png');
  }
  .live_iframe body{
    margin: 0 !important;
  }

  .pro_show_live >a {
    position:relative;width: 360px; height: 300px;
    cursor:default;
    /*width: 116px;
    height: 88px;*/
    overflow: hidden;
  }
  .three_d{
    width: 378px;
    height: 243px;
    overflow:hidden;
  }
  .three_d a{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }




/* 留言 */

  .cla{
    background: #fff;
    margin: 0 auto;
    min-width: 990px;
    background-size: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .con_title {
    min-width: 990px;
    background: red;
  }
  .con_title > h2 {
    width: 990px;
    height: 82px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 82px;
    margin: 0 auto;
    height: 82px;
  }
  .con_info {
    min-width: 990px;
    display: flex;
    justify-content: center;
    color:#000;
  }
  .con_detail {
    width:648px;
    margin: 0 auto;
    margin-top: 10px;
    border:1px solid #c0c4cc;
    padding-bottom: 40px;
  }
  .con_tip {
    font-size: 17px;
    line-height: 46px;
    opacity: 0.8;
    height: 46px;
    margin-left: 20px;
  }
  .con_name {
    margin-top: 7px;
    font-size: 15px;
    line-height: 19px;
    margin-left: 153px;
    margin-bottom: 10px;
  }
  .con_mes {
    margin-left: 100px;
  }
  .bitian::before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
  .el-textarea__inner {
    height: 107px;
    width: 396px;
  }
  .form_cha { 
    /*background: red;*/
    width: 74px;
    height: 20px;
    font-size: 9px !important;
    line-height: 5px;
    float: left;
  }
  .form_gou {
    width: 380px;
    float: right;
    text-align: left;
  }
  .form_ag_ku {
    float: left;
    box-sizing: content-box;
    padding-left: 80px;
    margin-top: -10px;
        display: flex;
    align-items: center;
  }
  .form_agree {
    width: 20px; height: 20px; border-radius: 50%; border: 1px #444 solid;
    -webkit-appearance: checkbox;    
  }
  .form_ag_ku >label {
    margin-left: 10px;
    opacity: 0.7;
  }


/* 家具系列*/
  .series {
    /*border: 1px solid;*/
    background: #fff;
    margin: 0 auto;
    min-width: 990px;
    background-size: 100%;
    height: auto;
  }
  .series_title {
    height: 74px;
    width: 100%;
    background: red;
  }
  .fur {
    /*background: transparent;*/
    margin: 0 auto;
    background-image: url("../../../static/img/bg_series.png");
    background-size: cover;
    background-position:top center;
    /*border: 1px solid #444;    */
  }
  .fur_detail {
    width: 990px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*height: 228px;*/
  }
  .fur_detail >h1{
    font-size: 39px;
    line-height: 33px;
    margin-top: 7px;
    text-align: left;
  }
  .fur_detail_class {
    display: flex;
    justify-content: center;
    margin-bottom:48px;
    margin-top: 510px;
  }
  .fur_detail_class a {
    width:152px;
    height:182px;
    border:1px solid rgba(236,27,26,0.19);
    background: #fff;
    /*opacity:0.19;*/
  }
  .fur_detail_class a + a{
    margin-left: 16px;
  }

  #google_ads_frame2 {
    width: 300px;
    height: 300px;
    border: 1px solid;
  }

/* 3d弹框阴影 */
  .mask{
    position:fixed;top:0;right:0; bottom:0; left:0;height: 100vh;background: rgba(0, 0, 0, 0.7);
  }
  .mask_iframe{
    position:absolute;
    width: calc(100% - 600px);
    height: calc(100vh - 300px);
    top: 150px;left: 300px;bottom: 150px;right: 300px;min-width:660px;min-height: 460px; 
  }
  .close_wrap {
    z-index: 1000;
  }
  .close_wrap >i {
    width: 50px; height: 50px;position: absolute;top: 0px; right: 0px;line-height: 50px;color: #ef6c00;font-size: 36px;
  }
/*媒体查询*/

  @media screen and (max-width: 1260px){
    /*990px*/
  }
  @media ( min-width: 1262px){
    /* 1260px*/
  }


  