	#addToCart{
		background:#f2f6fc;
	}
	.py-container{
		width:1226px;margin:0 auto;
    background-color: #fff;
	}
	.add-succ-box {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}
  .add-succ-info {
    margin-left: 20px;
  }
	.succ-item{
		display: flex;
	}

	.p-info{
		flex-grow: 1;
		display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
	}
	.succ-top {
		display: flex;
    font-size: 16px;
    color: #67c23a;
    align-items: center;
    margin: 20px 0;
	}
	.succ-top >i {
		font-size: 25px;
	}
	.succ-top h2{ margin-left: 10px; }
	.p-item{
		width: 80px;height: 80px;
		margin-right: 10px;
	}
	.p-item >a {
		width: 100%;
		height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
	}
  .p-item> a >img{
    width: 100%;
  }
	.p-name >a {
		width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-align: left;
	}
	.p-extra{
		color: #666;
    font-size: 14px;
	}
	.add-succ-btn {
		display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
    margin-right: 20px;
	}
	.add-succ-detail, .add-summ {
		height: 34px;
    line-height: 36px;
    font-size: 16px;
    vertical-align: middle;
	}
	.add-succ-detail {
		padding: 0 30px;
    margin-right: 10px;
    background: #fff;
    color: #e4393c;
    border: 1px solid #fff;
	}
	.add-succ-detail:hover{
		border-color: #e4393c
	}
	.add-summ {
		position: relative;
    width: 158px;
    padding-left: 8px;
    background: #e4393c;
    border: 1px solid #e4393c;
    color: #fff;
	}
	.add-summ:hover {
		background: #c91623;
	}

/* 猜你喜欢*/
  .youlike {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E1E1E1;
    margin-top: 32px;
    min-height: calc(100vh - 346px);
  }
  .youlike h2{
    font-size:16px;
    color:rgba(112,112,112,1);
    line-height:18px;
    padding: 14px 10px;
    text-align: left;
  }
  .youlike-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 12px;
    padding-top: 20px;
  }
  .youlike-li{ display: flex; flex-direction: column; }
  .youlike-li-a { width: 182px;height: 158px; overflow: hidden;
    margin: 0 auto; }
  .youlike-li-a img { width: 100%; overflow: hidden; }
  .youlike-li-pri {font-size:16px; color:rgba(201,0,0,1);
    line-height:16px;
    padding: 9px 12px 7px 12px;}
  .youlike-li-des {
    height: 32px;
    line-height: 16px;
    margin-top: 28px;
    overflow: hidden;
    font-size: 12px;
    color:#606060;
    padding: 0 12px;
    text-align: left;
  }
  .youlike-li-des a{
    color: #707070;
    text-align: left;
    width: 158px;
  }
  .youlike-li-com{
    font-size: 12px;
    padding: 0 12px;
    text-align: left;
    margin-bottom: 17px;
  }
  .youlike-li-com em {
    font-style: normal;
    color: #0074C5;
  }