/*购物车*/
  #cart {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .footer {
    margin-top: auto;
  }
  .cart-th {
    display: flex;
    background: #F2F2F2;
    border: 1px solid #C2C2C2;
    height: 40px;
    padding: 10px;
    line-height: 40px;
  }
  .cart-1> input, .cart-shop> input, .cart-20> input, .select-all>input{
    width: 15px;
    height: 15px;
  }
  .cart-th div{
    text-align: center;
    color: #4B4B4B;
    font-size: 16px;
  }
  .cart-th div:first-child{
    text-align: left;
  }
  
  .cart-shop {
    border-bottom: 2px solid #6D6D6D;
    padding: 10px 9px 5px;
    display: flex;
    align-items: center;
    font-family:SourceHanSansCN-Regular;
  }
  
  .cart-tool {
    box-sizing: border-box;
    border: 1px solid #ddd
  }
  
  .cart-list ul {
    padding: 9px 10px 15px;
    border-bottom: 1px solid #ddd;
    font-family: SourceHanSansCN-Normal;
  }
  
  .price,
  .sum,
  .shopname {
    font-family: SourceHanSansCN-Normal;
  }
  
  .shopname {
    margin-left: 8px;
  }
  .goods-list input {
    border: 1px solid #ddd
  }
  
  .select-all{
    display: flex;
    justify-content: space-around;
    width:88px;
  }
  .select-all-top{
    display: flex;
    align-items: center;
  }
  .select-all-top :nth-child(1){
    margin-right: 8px;
    margin-top: -2px;
  }
  .option a {
    float: left;
    padding: 0 10px
  }
  
  .toolbar {
    float: right
  }
  
  .chosed,
  .sumprice {
    float: left;
    padding: 0 10px
  }
  
  .chosed {
    line-height: 26px;
    display: flex;
    align-items: center;
  }
  
  .sumprice {
    width: 300px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .sumprice em {
    text-align: right;
    font-style: normal;
  }
  
  .sumbtn {
    display: flex;
    align-items: center;
  }
  
  .summoney {
    color: #F40000;
    font: 19px "微软雅黑"
  }
  
  a.sum-btn {
    display: block;
    position: relative;
    width: 96px;
    height: 52px;
    line-height: 52px;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background: #e54346;
    overflow: hidden
  }
  .py-container {
    width: 1226px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .allgoods {margin-top: 20px; margin-bottom: 50px;}
  .cart_to_home {
    color: #E53031;
  }
  .title-tip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .title-address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  input[type="checkbox"]{
    width:15px;
    height:15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    position: relative;
  }
  input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
  }
  input[type="checkbox"]:checked::before{
    content: "\2713";
    background-color: #fff;
    position: absolute;top: 0;left: 0;
    width:100%;
    border: 1px solid #e50232;
    color:#e50232;
    font-size: 20px;
    font-weight: bold;
  }
  .title-address h5{
    font-size: 14px;
  }
  .address{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #E3E3E3;
    min-width: 100px;
    font-size: 14px;
  }
  .address-box{
    color: #878787;
    padding: 3px;
  }
  .address i {
    line-height: 22px;
    font-size: 16px;
    padding: 0 3px;
  }
  .flow-addr {
    position: relative;
  }
  .choose {
    color: blue;
  }
  .addr-box {
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
  }
  .addr-box .pro-box, .city-box {
    min-width: 126px;
    height: 200px;
    font-size: 12px;
    border: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .addr-box ul li {
    text-align: left;
    cursor: pointer;
    line-height: 25px;
    padding: 0 5px;
  }
  .flow-addr:hover .addr-box{
    height: auto;
    display: flex;
  }
  .city-box {}
  .flow-item {
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    padding:  0 15px;
    line-height: 28px;
    margin-right: 10px;
  }
  .flow-send-date {
    width:50px;
    height:20px;
    background:rgba(254,233,235,1);
    border:1px solid rgba(200,22,35,1);
    line-height: 20px;
  }
  .allgoods .title-tip>h4, .cart-shop {
    text-align: left;
  }
  .allgoods .title-tip>h4 {
    color:rgba(231,22,0,1);
    height:24px;
    font-size:24px;
    margin-bottom: 5px;
  }
  .goods-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #353535;
  }
  .goods-list.selectItem{
    background-color: rgba(255,238,154,0.56);
  }
  .cart-tool{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
  .toolbar{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .cart-21{
    width:33%;
    text-align: left;
  }
  .cart-20{
    width:3%;
    text-align: left;
  }
  .cart-4{
    width: 12.5%;
  }
  .cart-3{
    width: 14%;
  }
  .cart-2{
    width: 20%;
  }
  .cart-1{
    width: 16%;
  }
  .cart-body {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
  }
  .goods-list .cart-3, .goods-list .cart-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-item-list {
    margin-top: 15px;
    font-size: 16px;
    color: #424242;
  }
  .cart-tip {
    border: 1px solid #e7e7e7;
    border-top: 0px;
  }
  .cart-tip-box {
    display: flex;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
  }
  .cart-tip-box li {
    color: #000000;
  }
  .cart-tip-box .item-msg{
    font-size: 13px;
    color: #6C6C6C;
  }
  .good-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .item-img img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
  }
  .good-item .item-msg {
    flex-grow: 1;
    padding-right: 30px;
    margin-left: 27px;
    cursor: pointer;
    line-height: 20px;
    font-size: 15px;
    color: #353535;
  }
  .attr {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 18px;
  }
  .attr strong{
    font-weight: 400;
    font-style: normal;
  }
  .sum {
    color: #F91800;
  }
  .goods-list .add-remove {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .remove {
    color: #585858;
  }
  .option a{
    color: #000;
  }
  .toolbar {
    font-size: 13px;
    color: #919191;
  }
  .nav-tabs{
    height: 45px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
/* 猜你喜欢*/
  .sui-nav.nav-tabs>h2>a {
    color: #DA3232;
    font-size: 19px;
    margin-left: 10px;
  }
  .sui-nav.nav-tabs div {
    margin-right: 8px;
  }
  .sui-nav.nav-tabs div i{
    color: #000000;
    border:1px solid rgba(189,189,189,1);
    border-radius:5px;
  }
  .tab-pane-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 53px 22px 53px;
  }
  .tab-pane-box-a {
    width: 196px;
    height: 196px;
    overflow: hidden;
  }
  .tab-pane-box-a img {
    width: 100%;
  }
  .tab-content {
    border: 1px dashed #e7e7e7;
  }
  .tab-content ul{
    display: flex;
    flex-wrap: wrap;
  }
  .tab-pane-li {
    width: 25%;
    height: 353px;
  }
  
  li.tab-pane-li+li {
    box-sizing: border-box;
    border-left: 1px dashed #e7e7e7;
  }
  .intro h4 {
    text-align: left;
    color: #424242;
    margin-top: 10px;
    text-align: justify;
    max-height: 40px;
    overflow: hidden;
  }
  .intro h4, .money span{
    line-height: 21px;
    font-size: 15px;
  }
  .money span {
    color: #FF0000;
    margin-top: 8px;
  }
  .incar {
    margin-top: 8px;
    width: 125px;
    height: 30px;
  }
  .incar a {
    border: 1px dashed #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .incar a span {
    font-size: 12px;
    color: #838383;
  }
  .cartxt {
    padding-left: 8px
  }