  .py-container {
  	width: 1226px;
  	margin: 0 auto;
  }
/* 支付页面头部*/
  .pay-title{
    width: 1226px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .pay-logo{
    display: flex;
    align-items: flex-end;
    color: #4A4A4A;
  }
  .pay-logo h5 {
    font-size: 33px;
    margin-left: 17px;
  }
  .pay-help {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
  }
  .pay-help a {
    color: #4A4A4A;
    padding: 0 10px;
    line-height: 11px;
  }
  .pay-help a +a{
    border-left: 1px solid #BEBEBE;
  }
/* 支付内容 */
  .tit-txt, .pay-price{
    font-size: 14px;
    color: #4A4A4A;
    display: flex;
    align-items: center;
  }
  .pay .money {
    font-size: 16px;
    color: #E50B0B;
    font-family:SourceHanSansCN-Light;
  }
  .pay-price {
    padding: 0 10px;
  }
  
  .pay .checkout-tit {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .checkout h5 {
    font-weight: 700;
    margin: 0
  }  
  .checkout {
    margin: 20px 0
  }
  
  .checkout-steps {
    border: 1px solid #ddd;
    padding: 8px 10px 35px 10px;
  }  
  .pay .paymark {
    overflow: hidden;
    line-height: 26px;
    text-indent: 38px
  }
  
  .pay .success-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(/static/img/success-icon.png);
    background-position: 0 0
  }
  
  .pay .success-info {
    line-height: 30px;
    vertical-align: top
  }
  
  
  .weixin {
    line-height: 27px;
    margin-right: 40px;
    font-size: 16px
  }
  
  .checkout-steps {
    width: 1226px;
    box-shadow:0px 0px 13px 0px rgba(83,83,83,0.18);
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .checkout-steps .phone {
    margin-left: 120px
  }
  
  .checkout-steps .saosao {
    background: url(/static/img/mk_pay_focus.png) 50px 8px no-repeat #ff7674;
    background-size: 47px 47px; 
    margin-top: 15px;
    padding: 8px 0 8px 125px
  }
  
  .checkout-steps .saosao p {
    margin-bottom: 5px;
    color: #fff;
    line-height: 20px;
    margin-top: 0;
    font-size: 15px
  }
  
  /* 自定义 */
  .checkout-tit>span>em { font-style: normal; }
  .weixin{ text-align: left; display: flex; align-items: flex-end;}
  .weixin span {
    font-size: 24px;
    color: #4A4A4A;
  }
  .weixin .red{
    font-size: 13px;
    margin-left: 38px;
  }
  .second{
    font-style: normal;
    color: #F14141;
  }
  .over{
    color: #F14141;
  }
  .sao{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .other-pay {
  	margin-top: 50px;
    padding-left: 20px;
  }
  .other-pay >a{ color: #28a3ef; }
  .other-pay :nth-child(n){
    cursor: pointer;
  }
  .code-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(242,242,242,1);
    padding: 20px;
  }
