.py-container {
  width: 1226px;
  margin:0 auto;
}
.payfail {
  padding: 25px;
  margin: 20px 0;
  overflow: hidden;
  border: 1px solid #ddd;
  font-family: "微软雅黑"
}

.payfail .fail {
  width: 500px;
  margin: 0 auto
}

.fail h3 {
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.fail h3 i {
  font-size: 40px;
  color: red;
  margin-right: 26px;
}

.fail .fail-text {
  float: left;
  margin-left: 66px;
  line-height: 26px;
  font-size: 15px
}

.fail-text .button {
  margin: 16px 0
}
.fail-text p {
    line-height: 26px;
    font-size: 15px;
    margin: 10px 0;
}
.fail-text .home{
  color: #28a3ef;
}
.paydetail .sui-btn.btn-xlarge {
    font-size: 18px
}
.sui-btn {
    font-size: 18px;
    display: inline-block;
    padding: 2px 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    user-select: none;
}
.btn-danger {
    color: #fff;
    background-color: #ea4a36;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #e8351f;
}
.btn-xlarge {
    padding: 4px 20px;
    line-height: 22px;
    font-size: 14px;
}
