  #user{
    background-color: #ebeef5; 
  }
  .py-container {
    width: 1226px;
    margin: 0 auto;
  }
  .con-wrap {
    margin: 14px 0px;
  }
  .con-item {
    display: flex;
    font-family: "Microsoft YaHei";
    border-radius: 2px;
    height: 178px;
  }
  .con-item-other {
    flex-grow: 1;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    justify-content:  space-evenly;
    display: flex;
    font-size: 16px;
    font-family:SourceHanSansCN-Regular;
  }
  .con-item-other a {
    color: #5D5C5C;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con-item-other a span.num {
    color: #E75343;
    font-size: 28px;
    line-height: 28px;
    margin-left: 5px;
  }
  .con-item-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
  }
  .user-head {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(204, 204, 204, 1);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-name {
    font-size: 14px;
    margin-top: 12px;
    color: #7F7F7F;
    font-family:SourceHanSansCN-Normal;
  }
  .user-head>img{
    border-radius: 50%;
    width: 68px;
    height: 68px;
  }
  .user-service {
    height: 40px;
    background:rgba(65,65,65,1);
    font-size:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .user-service > p {
    margin-left: 4px;
  }
  .user-service a {
    margin-right: 8px;
    width:57px;
    height:18px;
    line-height: 18px;
    background:rgba(255,215,4,1);
    border-radius:5px;
    color: #414141;
  }

/* 都在看 订单*/
  .con-de {
    margin-top: 20px;
    background-color: #fff;
  }
  .con-item{
    background-color: #fff;}
  .con-de-order {
    display: flex;
    flex-direction: column;
  }
  .con-de-li {
    display: flex;
    flex-direction: column;
  }
  .con-de-title {
    color:rgba(72,72,72,1);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .con-de-title h2{
    font-size: 15px;
    padding-left: 18px;
  }
  .con-de-title a {
    font-size: 14px;
    padding-right: 18px;
    color: #878787;
  }
  .con-de-item {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  .us-look li {
    /*width: 172px;*/
    /*height: 172px;*/
    width: 205px;
    height: 205px;
    border:1px solid rgba(237,237,237,1);
    overflow: hidden;
  }
  .us-look li a{
    width: 100%;
    height:100%;
  }
  .us-look li a img{
    width: 100%;
  }
  .us-order {
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    /*padding-bottom: 11px;*/
  }
  .us-order li {
    height: 60px;
    width: calc(20% - 5px);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .us-order li +li {
    border-left: 1px solid #F4F4F4;
  }
  .us-order-a {
    font-size: 14px;
    color: #878787;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .us-order-a img {
    margin-right: 9px;
  }
  .us-order-str {
    color: #FF4606;
    margin-left: 2px;
  }
/* 物流 喜欢 关注*/
  .con-all {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
  .con-all-left {
    width:718px;
  }
  .con-le-flow {
    width: 100%;
    overflow: hidden;
    background: url(/static/img/mk_user_flow_bg.png) no-repeat top;
    background-size: contain;
    background-color: #FFD704;
  }
  .con-le-like, .con-ri-focus, .con-ri-his{
    width: 100%;
    background-color: #fff;
  }
  .le-flow-title {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .le-flow-title h2{
    font-size: 18px;
    color: #252525;
    padding-left: 18px;
  }
  .le-flow-ul {
    background-color: #fff;
    margin: 9px;
  }
  .order-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li.order-li +li{
    border-top: 1px solid #F4F4F4;
  }
  .order-li >a {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 9px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-desc {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    color: #878787;
    margin-left: 4px;
  }
  .detail-desc p {
    width: 375px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .flow-de {
    margin-left: 4px;
    color: #FF4606;
  }
  .detail-more{
    margin: 0 20px;
    font-size: 14px;
  }
  .detail-more a{
    width:70px;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(227,227,227,1);
    color: #878787;
    line-height: 30px;
    text-align: center;
  }
  .flow-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(135,135,135,1);
    font-size:14px;
    border-top: 1px solid #F4F4F4;
    height: 40px;
  }
  /* 猜你喜欢 */
  .con-le-like {
    margin-top: 30px;
  }
  .hot-con-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hot-con-ul li {
    padding: 13px 10px 15px;
    background-color: #fff;
  }
  .hot-con-ul li:nth-child(n+4) {
    margin-top: 11px;
  }
/* 我的关注*/
  .con-all-right {
    width: 357px;
  }
  .con-ri-focus {

  }
  .ri-focus-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
  }
  .ri-focus-title h3{
    color:rgba(33,33,33,1);
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
  }
  .ri-focus-title a {
    padding-right: 12px;
  }
  .ri-focus-title a i {
    margin-left: 4px;
  }
  .focus-con {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E2E2E2;
  }
  .focus-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    padding: 0 25px;
  }
  .focus-box a{
    font-size: 18px;
    color:rgba(91,91,91,1);
  }
  .focus-box a h4{
    font-size: 14px;
    margin-top: 13px;
  }
  .con-ri-his {
    border-top: 1px solid #E2E2E2;
    margin-top: 10px;
  }
  .ri-his-abs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ri-his-abs a {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    width:350px;
    height:244px;
    overflow: hidden;
  }
  .ri-his-abs a img{
    width: 100%;
  }

  .ri-focus-title a {
    font-size: 12px;
    color: #303030;
  }
  .focus-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #F4F4F4;
    padding: 11px 6px;
  }
  .focus-tag {
    width: 90px;
    height: 90px;
    overflow: hidden;
  }
  .focus-tag img {
    width: 100%;
  }

/* 我的订单
  .con-order {
    margin-top: 20px;
  }
  .order-desc,.con-item{
    background-color: #fff;
  }
  .order-desc >.title {
    text-align: left;
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
  }
  .order-list{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    box-sizing: content-box;
    font-size: 12px;
  }
  .order-list >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: center;
  }
  .order-list >div >i{
    font-size: 48px;
  }
  .order-list >div >p{
    margin-top: 10px;
  }
  .order-list >div .num {
    font-size: 18px;
    color: red;
    margin-left: 5px;
    text-align: center;
  } 

  .order-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li.order-li +li{
    border-top: 1px solid #F4F4F4;
  }
  .order-li >a >i {
    font-size: 80px;
  }
  .order-li >a {
    margin: 10px 20px;
  }
  .detail-desc {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    color: #666;
  }
  .detail-more{
    margin: 0 20px;
    font-size: 14px;
  }
  .detail-more a{
    color: #333;
  }
  .detail-more a+a{
    margin-left: 20px;
  }
*/
/* table*/
  .yui3-u-5-6 {
    width: 100%;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .body{
    padding: 0 25px;
    color: #555;
    text-align: center;
    font-size: 15px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
  }
  .table-title .order-table{
    background: #f1f1f1;
  }
  .sui-table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table > tr {
    vertical-align: middle;
  }
  .table-title .order-table th {
    text-align: center;
  }
  .sui-table thead th {
    vertical-align: bottom;
  }
  .sui-table th{
    font-weight: 700;
  }
  .sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
  }
  .order-pay .choose-order{
    overflow: hidden;
    margin-top: 10px;
  }
  .order-pay .choose-title {
    padding: 2px 0;
    margin-top: 10px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-bottom: 0;
    overflow: hidden;
    background: #F1F1F1;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .order-pay .order-datatable {
    margin-bottom: 0;
  }
  .sui-table.table-bordered {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    border-left: 0;
    border-radius: 2px;
  }
  .sui-table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .order-pay .top-pages {
    margin: 0 10px 6px;
  }
  .sui-pagination{
    float: right;
  }
  .sui-pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .sui-pagination ul>li {
    display: inline;
  }
  li {
    line-height: 18px;
  }
  .sui-pagination ul>.prev>span, .sui-pagination ul>.next>span, .sui-pagination ul>.prev>a, .sui-pagination ul>.next>a {
    background-color: #fafafa;
  }
  .sui-pagination ul>.disabled>span,.sui-pagination ul>.disabled>a .sui-pagination ul>.disabled>a:hover, .sui-pagination ul>.disabled>a:hocus {
    color: #999;
    background-color: transparent;
    cursor: default;
  }
  .pagination-large ul>li>a, .pagination-large ul>li>span {
    padding: 4px 9px;
    font-size: 14px;
  }
  .sui-pagination ul>li>a, .sui-pagination ul>li>span{
    position: relative;
    float: left;
    padding: 2px 7px;
    line-height: 18px;
    text-decoration: none;
    color: #28a3ef;
    background-color: #fff;
    border: 1px solid #e0e9ee;
    margin-left: -1px;
  }
  .checkbox-pretty {
    display: block;
    position: relative;
  }

  label {
    cursor: pointer;
  }
  .order-pay .share-btn {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
  .btn-info{
    color: #fff;
    background-color: #5bc0de;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #46b8da;
  }
  .sui-btn{
    display: inline-block;
    padding: 2px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    user-select: none;
  }
  .sui-table.table-bordered {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    border-left: 0;
    border-radius: 2px;
  }
  .order-pay .order-datatable {
    margin-bottom: 0;
  }
  .sui-table.table-bordered tbody:last-child tr:last-child>td:first-child{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .sui-table.table-bordered td {
    border-left: 1px solid #e6e6e6;
  }
  .sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 18px;
    vertical-align: middle;
  }
  .typographic {
    display: flex;
  }
  .typographic div+div{
    font-size: 14px;
    display: flex;
    align-items: flex-start;flex-direction: column;justify-content: center;
  }
  .typographic div+div a{
    color: #333;
  }

/* 关注商品 */
  .atten-title,.atten-filter{
    display: flex;
  }
  .atten-ul {
    display: flex;
    flex-wrap: wrap;
  }
  .atten-li {
    border: 1px solid #eee;
    box-sizing: content-box;
  }
  .atten-img>a{
    width: 210px;
  }
  .atten-img>a>img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .atten-desc >p{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .atten-desc >span{
    color: red;
    font-weight: bolder;
    font-size: 16px;
    margin: 8px;
  }
  .atten-detail-filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .atten-detail-filter >div{
    border: 1px solid red;
    color: red;
    padding: 5px;
  }
  .atten-detail-filter >div+div{
    color: #333;
    border: 1px solid #e6e6e6;
  }

/* 关注店铺 */
  .shops-li {
    display: flex;
  }
   li.shops-li+li {
    margin-top: 20px;
  }
  .shops-img {
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-grow: 1
  }
  .shops-img >a {
    width: 120px;
    height: 40px;
    overflow: hidden;
  }
  .shops-img >a >img{
    width: 100%;
    height: 100%;
  }
  .shops-link {
    display: flex;
    justify-content: space-around;
  }
  .shops-goods {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15px;
    border: 1px solid #eee;
  }
  .shops-goods-li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shops-goods-li a {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .shops-goods-li a img {
    width: 100%;
  }
  div.shops-detail {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    transition: box-shadow 0.2s linear;
    width: 258px;
    box-sizing: content-box;
    border: 1px solid #eeeeee;
  }
  div.shops-detail:hover {
    box-shadow: 0 10px 10px #80008010;
  }
/* 个人设置 */
  .user-info{}
  .user-info-wrap{}
  .user-info-list{
    display: flex;
    font-size: 12px;
    margin-bottom: 20px
  }
  .user-info-list .label{
    width: 100px;
    height: 18px;
    text-align: right;
    line-height: 18px;
    padding: 6px 0;
  }
  .user-info-list >div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .user-info-list >div> i {
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    color: purple;
  }
  .user-info-list .text {
    border: 1px solid #bbbbbb;
    height: 18px;
    width: 127px;
    padding: 5px 23px 5px 5px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
  }
  .mkradio {
    margin-right: 3px;
  }
  .user-info-list >div>label {
    margin-right: 20px;
  }
  .uname a,.email a,.email span {
    margin-left: 10px;
  }
  .submit a{
    border: 1px solid #ccc;
    width: 60px;
    height: 35px;
    line-height: 35px;
    color: purple;
  }
/* 头像设置 */
  .avatar-uploader {
    display: flex;
    position: relative;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .user-pic-tip {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 15px;
  }
  .save {
    margin-top: 20px;
  }

/* 地址管理 */
  .address>div{ display: flex; }
  .address-wrap{}
  .address-ul{}
  .address-li{  box-sizing: content-box; border: 1px solid #ccc; margin-top: 20px;}
  .address-name{ display: flex; margin: 15px 0 0px 30px;}
  .address-name i {font-size: 16px; line-height: 16px; margin-left: 15px;}
  .add-box{ display: flex; justify-content: space-around;padding: 10px;}
  .add-info{ flex-grow: 1; display: flex;flex-direction: column; align-items: flex-start; }
  .add-info >div{
    font-size: 13px;
    color: #bbb;
    height: 25px;
    line-height: 25px;
    max-width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .add-info >div span:first-child{
    width: 70px;
    text-align: right;
  }
  .add-info >div span+span{
    color: #000;
  }
  .add-change{display: flex; align-items: flex-end; }
  .add-change span{ font-size: 14px; color: purple;margin-left: 15px; }