  #user{
    background-color: #ebeef5; 
  }
  .py-container {
    width: 1260px;
    margin: 0 auto;
  }
  .con-wrap {
    margin: 20px;
  }
  .con-item {
    display: flex;
    font-family: "Microsoft YaHei";
    font-weight: bolder;
  }
  .con-item-other{
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #333;
    justify-content: space-around;
  }
  .con-item-user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  .user-head {
    border-radius: 100%;
    overflow: hidden;
  }
  .user-name {
    margin: 10px 0;
  }
  .user-head>i{
    font-size: 80px;
  }

  .con-order {
    margin-top: 40px;
  }
  .order-desc,.con-item{
    background-color: #ebeef5;
  }
  .order-desc >.title {
    text-align: left;
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
  }
  .order-list{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    box-sizing: content-box;
    font-size: 12px;
  }
  .order-list >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: center;
  }
  .order-list >div >i{
    font-size: 48px;
  }
  .order-list >div >p{
    margin-top: 10px;
  }
  .order-list >div .num {
    font-size: 18px;
    color: red;
    margin-left: 5px;
    text-align: center;
  } 

  .order-li {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-li >a >i {
    font-size: 80px;
  }
  .order-li >a {
    margin: 10px 20px;
  }
  .detail-desc {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    color: #666;
  }
  .detail-more{
    margin: 0 20px;
    font-size: 14px;
  }
  .detail-more a{
    color: #333;
  }
  .detail-more a+a{
    margin-left: 20px;
  }

/* table*/
  .yui3-u-5-6 {
    width: 100%;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .body{
    padding: 0 25px;
    color: #555;
    text-align: center;
    font-size: 15px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
  }
  .table-title .order-table{
    background: #f1f1f1;
  }
  .sui-table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table > tr {
    vertical-align: middle;
  }
  .table-title .order-table th {
    text-align: center;
  }
  .sui-table thead th {
    vertical-align: bottom;
  }
  .sui-table th{
    font-weight: 700;
  }
  .sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
  }
  .order-pay .choose-order{
    overflow: hidden;
    margin-top: 10px;
  }
  .order-pay .choose-title {
    padding: 2px 0;
    margin-top: 10px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-bottom: 0;
    overflow: hidden;
    background: #F1F1F1;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .order-pay .order-datatable {
    margin-bottom: 0;
  }
  .sui-table.table-bordered {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    border-left: 0;
    border-radius: 2px;
  }
  .sui-table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .order-pay .top-pages {
    margin: 0 10px 6px;
  }
  .sui-pagination{
    float: right;
  }
  .sui-pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .sui-pagination ul>li {
    display: inline;
  }
  li {
    line-height: 18px;
  }
  .sui-pagination ul>.prev>span, .sui-pagination ul>.next>span, .sui-pagination ul>.prev>a, .sui-pagination ul>.next>a {
    background-color: #fafafa;
  }
  .sui-pagination ul>.disabled>span,.sui-pagination ul>.disabled>a .sui-pagination ul>.disabled>a:hover, .sui-pagination ul>.disabled>a:hocus {
    color: #999;
    background-color: transparent;
    cursor: default;
  }
  .pagination-large ul>li>a, .pagination-large ul>li>span {
    padding: 4px 9px;
    font-size: 14px;
  }
  .sui-pagination ul>li>a, .sui-pagination ul>li>span{
    position: relative;
    float: left;
    padding: 2px 7px;
    line-height: 18px;
    text-decoration: none;
    color: #28a3ef;
    background-color: #fff;
    border: 1px solid #e0e9ee;
    margin-left: -1px;
  }
  .checkbox-pretty {
    display: block;
    position: relative;
  }

  label {
    cursor: pointer;
  }
  .order-pay .share-btn {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
  .btn-info{
    color: #fff;
    background-color: #5bc0de;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #46b8da;
  }
  .sui-btn{
    display: inline-block;
    padding: 2px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    user-select: none;
  }
  .sui-table.table-bordered {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    border-left: 0;
    border-radius: 2px;
  }
  .order-pay .order-datatable {
    margin-bottom: 0;
  }
  .sui-table.table-bordered tbody:last-child tr:last-child>td:first-child{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .sui-table.table-bordered td {
    border-left: 1px solid #e6e6e6;
  }
  .sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 18px;
    vertical-align: middle;
  }
  .typographic {
    display: flex;
  }
  .typographic div+div{
    font-size: 14px;
    display: flex;
    align-items: flex-start;flex-direction: column;justify-content: center;
  }
  .typographic div+div a{
    color: #333;
  }

/* 关注商品 */
  .atten-title,.atten-filter{
    display: flex;
  }
  .atten-ul {
    display: flex;
    flex-wrap: wrap;
  }
  .atten-li {
    border: 1px solid #eee;
    box-sizing: content-box;
  }
  .atten-img>a{
    width: 210px;
  }
  .atten-img>a>img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .atten-desc >p{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .atten-desc >span{
    color: red;
    font-weight: bolder;
    font-size: 16px;
    margin: 8px;
  }
  .atten-detail-filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .atten-detail-filter >div{
    border: 1px solid red;
    color: red;
    padding: 5px;
  }
  .atten-detail-filter >div+div{
    color: #333;
    border: 1px solid #e6e6e6;
  }

