  #user{
    background-color: #fff; 
  }
  .py-container {
    width: 1226px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .con-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .user {
    display: flex;
    justify-content: space-between;
  }
  .account-sidebar {
    width: 135px;
    border-radius: 6px;
  }
  .con-item {
    margin-left: 40px;
    font-weight:400;
  }
  .con-item img{
    display: inline;
  }
  .gray-box {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
  }
  .account-sidebar .account-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .account-sidebar .avatar {
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .account-sidebar .account-nav li {
    position: relative;
    margin-top: 13px;
  }
  .account-sidebar .account-nav li a {
    font-style: normal;
    text-decoration: none;
    color:rgba(36,36,36,1);
    font-size:14px;
    cursor: pointer;
    transition: all .15s ease-out;
    display: block;
    padding-left: 30px;
    text-align: left;
  }
  .account-sidebar .account-nav li.current a {
    position: relative;
    z-index: 1;
    color: red;
  }
  .account-content {
    flex-grow: 1;
    background-color: #fff;
    margin-bottom: 20px;
    min-height: 800px;
  }
  .con-de {
    border: 1px solid #F4F4F4;
    flex-grow: 1;
  }
  .title {
    height:41px;
    line-height: 41px;
    display: flex;
  }
  .title a {
    border:1px solid rgba(244,244,244,1);
    padding: 7px 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight:bold;
    color: #000000;
  }
  .start:before{
    content: "*";
    color:#FF6641;
    margin-right:10px;
  }
/*关于绑定前*/
  .binding{
    font-family:SourceHanSansCN-Normal;
    color:rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .con-item .no-binding{
    font-size:18px;
    margin: 180px 0 15px 0;
    color:#000000;
    font-weight:400;
  }
  .con-item  .why-binding{
    font-size:24px;
    margin: 150px 0 10px  0;
  }
  .con-item .btn-binding{
    font-size:14px;
    font-family:SimSun;
    color:rgba(255,255,255,1);
    width:113px;
    height:27px;
    border:1px solid rgba(253,154,0,1);
    background:linear-gradient(0deg,rgba(249,160,0,1) 0%,rgba(249,200,0,1) 100%);
  }
  .con-item .hr-binding{
    width:553px;
    background:rgba(185,185,185,1);
    margin-bottom: 10px;
    text-align: center !important;
  }
  .con-item .info-binding{
    font-size:14px;
    font-weight:300;
    color:rgba(85,85,85,1);
    text-align: center;
  }
/*验证码*/
  .test,.arrow,.text-right{
    display: inline-block;
    font-size:14px;
  }
  .test .arrow{
    width:13%;
    background:rgba(255,255,255,1);
    border:1px solid rgba(227,227,227,1);
    border-right: none;
    font-family:SimHei;
    font-weight:400;
    color:rgba(135,135,135,1);
    text-align: center;
  }
  .test .text-right{
    width:84%;
    background:rgba(244,244,244,1);
    border:1px solid rgba(227,227,227,1);
    margin-left: -8px;
    font-family:SourceHanSansCN-Light;
    font-weight:300;
    color:rgba(167,167,167,1);
    text-align: center;
  }
/*绑定弹窗*/
  .elastic-frame{
    width:500px;
    height:400px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 9px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elastic-frame p{
    margin: 81px 0 51px 30px;
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(135,135,135,1);
    line-height:7px;
  }
  .elastic-frame img{
    display: inline-block;
    margin-top: -2px;
  }
  .elastic-frame .group{
    background:rgba(255,255,255,1);
    border:2px solid rgba(227,227,227,1);
    text-align: left;
    margin-bottom: 37px;
  }
  .elastic-frame .group input{
    border: none;
    height:30px;
    width:220px;
    margin-left: -8px;
    padding-left: 5px;
  }
  .elastic-frame .btn{
    width:150px;
    height:30px;
    background:rgba(255,70,6,1);
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
  }
