.py-container{width:1226px;margin:0 auto; overflow: hidden;}
.wrap {
  width: 100%;
  overflow: hidden;
}
/* 3d弹框阴影 */
  .mask{
    position:fixed;top:0;right:0; bottom:0; left:0;height: 100vh;background: rgba(0, 0, 0, 0.7);z-index: 1000;
  }
  .mask_iframe{
    position:absolute;
    width: calc(100% - 600px);
    height: calc(100vh - 300px);
    top: 150px;left: 300px;bottom: 150px;right: 300px;min-width:660px;min-height: 460px; 
  }
  .mask_close {
    position:absolute;
    width: calc(100% - 600px);
    /*height: calc(100vh - 300px);*/
    top: 150px;left: 300px;
    /*bottom: 150px;*/
    right: 300px;min-width:660px;
    /*min-height: 460px;*/
  }
  .close_wrap {
    z-index: 1000;
  }
  .close_wrap >i {
    width: 50px; height: 50px;position: absolute;top: 0px; right: 0px;line-height: 50px;color: #ef6c00;font-size: 36px;
  }
  
/* detail */
  .collect {
  display: flex;
  font-size: 14px;
  color: #353535;
  margin-top: 8px;
  height: 20px;
  align-items: center;
  }
  div.collect :nth-child(2n+1) {
  margin-left: 10px;
  }
  div.collect :nth-child(2n) {
  margin-left: 3px;
  }
  .btn-danger {
    border-radius: 0
  }
  
  #item {
    margin: 15px 0;
    font-family: "微软雅黑"
  }
  .sui-breadcrumb {
      padding: 9px 15px 0 0;
      margin: 0 0 9px;
      list-style: none;
      font-weight: 400;
      border-radius: 3px;
      display: flex;
  }
  .sui-breadcrumb >li >a {
      color: #28a3ef;
      text-decoration: none;
  }
  .preview-wrap {
    width: 334px;
  }
  
  .itemInfo-wrap {
    margin-left: 50px;
    font-size: 12px;
    color: #333;
    width: 600px;
  }
  
  .aside {
    width: 210px;
  }
  
  .detail {
    width: 1010px
  }
  
  i,em {
    font-style: normal
  }
  
  .sui-breadcrumb {
    padding: 9px 15px 0 0;
    margin: 0 0 9px
  }
  
  .product-info {
    margin: 5px 0 15px;
    display: flex;
  }
  
  .itemInfo-wrap {
    font-family: "宋体"
  }
  
  .summary-wrap .price {
    color: #c81623
  }
  
  .summary-wrap .price em {
    font-size: 24px;
    font-weight: 700
  }
  
  .summary-wrap .price i {
    font-size: 16px
  }
  
  .summary-wrap .price span {
    font-size: 12px
  }
  
  .product-detail {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .red-bg {
    background: #B61D1D;
    padding: 3px;
    color: #fff
  }
  
  .sku-name h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #353535;
  }
  
  .news {
    color: #FF4606;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .summary {
    background: #fee9eb;
    margin: 13px 0;
    border: 1px solid #e3e3e3;
  } 
  .support {
    padding-bottom: 5px;
  }
  .sum-price-box {
    height: 60px;
    display: flex;
    align-items: center;
    font-size:14px;
    font-family:SourceHanSansCN-Light;
    font-weight:300;
    color:rgba(135,135,135,1);
  }
  .sum-price-box .price{
    font-size:20px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(255,70,6,1);
  }
  .sum-price-box .title{
    margin-right: 20px;
  }
  .flow-box {
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(53,53,53,1);
  }
  .flow-con {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .flow-con b, .flow-con i{
    font-size:14px;
    font-family:Adobe Heiti Std R;
    font-weight:normal;
    color:rgba(163,163,163,1);
    margin: 0 10px;
  }
  .flow-addr {
    position: relative;
  }
  .choose {
    color: blue;
  }
  .addr-box {
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
  }
  .addr-box .pro-box, .city-box {
    width: 126px;
    height: 200px;
    font-size: 12px;
    border: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .addr-box ul li {
    text-align: left;
    cursor: pointer;
  }
  .flow-addr:hover .addr-box{
    height: auto;
    display: flex;
  }
  .city-box {}
  .flow-item {
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    padding:  0 15px;
    line-height: 28px;
    margin-right: 10px;
  }
  .flow-send-date {
    width:50px;
    height:20px;
    background:rgba(254,233,235,1);
    border:1px solid rgba(200,22,35,1);
    line-height: 20px;
  }
  .sku-name,.news,.support .summary-wrap,.choose .summary-wrap dl, ul.summary-wrap>li.spec-list {
    display: flex;
  }
  ul.summary-wrap>li.spec-list {
    overflow: hidden;
  }
  ul.summary-wrap>li.spec-list .title{
    line-height: 30px;
    margin-right: 15px;
    font-family:SourceHanSansCN-Regular;
    color: #000;
    font-size: 14px;
  }
  ul.summary-wrap>li:first-child {margin-top: 12px;}
  ul.summary-wrap>li.spec-list+li{ margin-top: -14px; }
  ul.summary-wrap>li.spec-list .title i { text-align: justify; width: 60px;height: 28px;color: #000}
  ul.summary-wrap>li.spec-list .title i:after {content: " "; display: inline-block;width: 100%;}
  ul.summary-wrap>li.spec-list>ul {
    display: flex;
  }
  .summary-wrap {
    /*overflow: hidden;*/
    line-height: 28px;
    margin-top: 10px;
  }
  
  .summary-wrap dl {
    overflow: hidden;
    margin: 12px auto;
  }
  
  .summary-wrap dl a, ul.summary-wrap>li.spec-list>ul li a {
    font-family:SourceHanSansCN-Regular;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 2px 17px;
    margin-right: 5px;
    display: block;
    float: left;
    position: relative;
    outline: 0;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    text-decoration: none
  }
  .summary-wrap .title.flow i {
    text-align: left;
  }  
  .summary-wrap .selected, ul.summary-wrap>li.spec-list>ul li a.selected{
    border: 1px solid #c81623
  }
  
  .summary-wrap .locked {
    color: #d6d6d6;
    cursor: not-allowed;
    border-color: #bbb;
    border-style: dotted
  }
  
  
  .summary-wrap .selected span {
    display: block
  }
  #all-add-buy {margin: 0}
  #all-add-buy,.submit-form {
    display: flex;
  }
  #all-add-buy .buy-word, .submit-form .buy-word{
    display: flex;
    align-items: center;
    width: 125px;
  }
  #all-add-buy .buy-word a, .submit-form .buy-word a{
    height: 100%;
    line-height: 30px;
    color: #fff;
    background: #c81623;
    width: 100%;
    font-size: 14px;
  }
  div.buy-word+div{
    margin-left: 10px;
  }
  .title {
    margin-right: 15px;
    font-size: 14px;
    color: #878787;
  }
  .title >i{
    width: 64px;
  }
  
  .controls {
    width: 48px;
    position: relative
  }
  
  .controls a {
    text-decoration: none
  }
  
  .controls .itxt {
    display: block;
    width: 38px;
    height: 34px;
    line-height: 42px;
    border: 1px solid #ddd;
    text-align: center;
    color: #555;
    float: left;
    border-right: 0
  }
  
  .controls .plus {
    display: block;
    width: 15px;
    text-align: center;
    height: 16px;
    line-height: 19px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -8px;
    border: 1px solid #ccc
  }
  
  .controls .mins {
    display: block;
    width: 15px;
    text-align: center;
    height: 17px;
    line-height: 18.5px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -8px;
    border: 1px solid #ccc;
    top: 18px;
    border-top: 0
  }
  
  .red-bg {
    background: #c81623;
    color: #fff;
    padding: 3px
  }
  
  .fix-width {
    width: 520px;
    text-align: left;
  }
  
  .t-gray {
    color: #999;
    text-align: left;
  }
  
  ul.btn-choose li {
    float: left;
    margin: 0 10px 0 0
  }
  
  ul.btn-choose li .btn-xlarge .addshopcar {
    font-size: 16px
  }
  
  .addshopcar {
    padding: 10px 25px;
    background: #c81623;
    font-size: 16px;
    font-family: 微软雅黑
  }
  .buyshops {
    padding: 10px 25px;
    background: #FEE9EB !important;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #C81623;
  }
  .submit-form .buy-word a.buyshops{
    color: #C81623;
  }
  .submit-form .buy-word a.buyma span {
    font-size: 14px;
    background-color: #fff;
    color: #000000;
    width: 100px;
    height: 20px;
    line-height: 20px;
    position: initial;
    overflow: initial;
    background: initial;
    display: initial;
  }
  .submit-form .buy-word a.buyma{
    background-color: #fff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buyma img{
    width:21px;
    height:20px;
  }
  .box-tip {
    margin-top: 30px;
    font-size:14px;
    color: #B2B2B2;
  }
  .box-tip p {
    font-size: 14px;
  }
/* 店长推荐 */
  .recom-box {
  }
  .recom-title {
    height:35px;
    background:rgba(244,244,244,1);
    border-bottom: 1px solid #FFCA45;
  }
  .recom-title h3 {
    font-size:16px;
    width: 94px;
    background-color: #FFCA45;
    color: #fff;
    height: 35px;
    line-height: 35px;
  }
  .recom-ul{
    display: flex;
  }
  li.recom-li+li{
    margin-left: 35px;
  }
  .recom-de{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recom-de-a{
    width: 160px;
    height: 160px;
    overflow: hidden;
        display: flex;
    align-items: center;
    justify-content: center;
  }
  .recom-de-price {
    color: #FF4606;
    font-size:16px;
    margin-top: 9px;
  }
  ul.btn-choose li .btn-xlarge {
    font-size: 12px;
    border-radius: 0
  }
  .btn-danger {
      color: #fff;
      border: 1px solid #e8351f;
      border-radius: 0;
  }
  
  .sui-btn:active{
    background-color: #c81623;
    color: #fff
  }
  
  ul.part-list {
    overflow: hidden
  }
  
  ul.part-list li {
    line-height: 18px;
    width: 50%;
    float: left;
    border-bottom: 1px dashed #ededed;
    line-height: 28px;
    font-size: 14px;
  }
  
  .sui-nav.nav-tabs.tab-wraped>li {
    width: 50%
  }
  
  .sui-nav.nav-tabs.tab-wraped>li>a {
    padding: 11px;
    text-align: center;
    color: #333
  }
  
  .tab-content.tab-wraped {
    padding: 10px
  }
  
  .summary-price-wrap {
    overflow: hidden
  }
  
  .goods-list .operate {
    margin: 5px 40px
  }
  
  ul.goods-list li {
    margin: 5px 0 15px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px
  }
  
  ul.goods-intro li {
    line-height: 30px;
    font-size: 14px;
    display: flex;
  }
  .intro-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-detail>img{
    max-width: 100%;
  }
  
  .p-img img {
    padding-left: 20px
  }
  
  .suits .list-wrap {
    float: left;
    margin: 0 10px
  }
  
  .good-suits {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }
  
  .master,
  .suits,
  .result {
    height: 140px;
    padding: 10px
  }
  
  .master .list-wrap {
    position: relative;
    text-align: center
  }
  
  .master .list-wrap i {
    position: absolute;
    top: 48px;
    right: -25px;
    font-size: 16px
  }
  
  .master .list-wrap em {
    color: #c81623;
    font-size: 16px;
    font-weight: 700
  }
  
  .suits ul li {
    float: left;
    list-style-type: none;
    padding: 0 20px
  }
  
  .result {
    line-height: 26px;
    border-left: 1px solid #ddd;
    padding: 20px;
    font-size: 12px;
    text-align: left;
  }
  
  .result .price {
    color: #B1191A;
    font-size: 16px
  }
  
  .fitting,
  .like {
    border: 1px solid #ddd;
    margin-bottom: 15px
  }
  
  .intro .sui-nav.nav-tabs.tab-wraped {
    background: #ededed;
    display: flex;
  }
  
  .intro .sui-nav.nav-tabs.tab-wraped>li {
    width: auto
  }
  
  .intro .tab-content.tab-wraped {
    border: 0
  }
  
  .kt {
    border-bottom: 1px solid #ddd;
    background: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 5px 0 5px 15px;
    display: flex;
  }
  
  .like .like-list {
    padding: 15px
  }
  .like-list ul {
    display: flex;
  }
  .like-list ul li .attr,.like-list ul li .commit{
    font-size: 12px;
  }
  .like-list ul li .attr,
  .like-list ul li .price,
  .like-list ul li .commit {
    text-align: left;
    padding-left: 15px;
    font-family: "微软雅黑"
  }
  .like-list ul li .price strong i,
  .like-list ul li .commit i{
    font-style: normal;
  }
  
  .list-wrap .price {
    font-size: 16px;
    color: #c81623;
  }
  
  .like-list ul li .price {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .like-list ul li .list-wrap {
    font-family: "微软雅黑";
    line-height: 22px
  }
  .tab-content.tab-wraped {
      border: 1px solid #ddd;
      border-top: 0;
      padding: 18px;
  }
  .aside ul.nav-tabs {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-top: 0;
  }
  .aside ul.nav-tabs li{
    width: 50%;
    margin-bottom: -1px;
  }
  .aside ul.nav-tabs li a{
    border-left: 1px solid #ddd;
    padding: 11px;
    text-align: center;
  } 
  .attr, .price, .operate{
    text-align: left;
  }
  .price i{
    font-style: normal;
  }
  .sui-btn.btn-bordered {
      background-color: transparent;
      border: 1px solid #8c8c8c;
      color: #8c8c8c;
  }
  
  .sui-btn {
      display: inline-block;
      padding: 2px 14px;
      box-sizing: border-box;
      margin-bottom: 0;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      color: #333;
      background-color: #eee;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      user-select: none;
  }
  .operate:hover{
    background: #8c8c8c;
  }
  .operate:hover a.sui-btn {
    color: #fff;
  }

/* 看了又看*/
  .se-look {
    margin-left: 33px;
    flex-direction: column;
    align-items: center;
    width: 165px;
    margin-top: -2px;
  }
  .look-title {
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lo-line {
    width: 44px;
    height: 1px;
    background-color: #E3E3E3;
  }
  .look-title h4{
    margin: 0 6px;
    color:rgba(53,53,53,1);
    font-size:14px;
  }
  .lo-box-li {margin-top: 17px;}
  .lo-box-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .lo-box-wrap {
    width: 150px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
  }
  .lo-box-con h5{
    background-color: #FFFFFF;
    opacity:0.86;
    color: #878787;
    font-size: 14px;
    margin-top: -20px;
    width: 100%;
  }
  .lo-box-con span{
    color: #FF4606;
  }

/* 底部广告*/
  .bottom-abs {
    overflow: hidden;
    width: 1226px;
    height: 180px;
    margin: 36px auto;
  }
  .bottom-abs .el-carousel {
    height: 100%;
  }

/* 商品介绍 */
  .tab-main {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .tab-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background:rgba(245,247,250,1);
    border:1px solid rgba(227,227,227,1);
    border-bottom: 1px solid #E4393C;
  }
  .tab-nav ul {
    display: flex;
  }
  .tab-nav-li {
    width:110px;
    height:42px;
    line-height: 42px;
    margin-top: -2px;
  }
  .tab-nav-li a{
    width: 100%;
    color: #878787;
    font-size: 14px;
  }
  .tab-nav-li a.choosetab {
    background-color: rgba(228,57,60,1);
    color: #fff;
  }
  .tab-nav .buy-word a{
    margin-right: 24px;
    height: 100%;
    line-height: 29px;
    color: #fff;
    background: rgba(228,57,60,1);
    width: 88px;
    font-size: 14px;
    font-family:SimSun;
  }
  .se-add-cart{
    height: 30px;
  }
  .success-order {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #353535;
  }
  .time-suc {
    padding: 0 8px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    line-height: 15px;
  }
  .time-reco {
    margin-left: 43px;
  }
  .time-suc b, .time-reco b {
    color: #FF4606;
  }

/* 左侧店铺相关*/
  .nav-li {
    display: flex;
    background-color: #F5F7FA;
  }
  .nav-hot {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    color: #909399;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: calc(50% - 2px);
    font-size:14px;
  }
  .nav-tabs {
    border-top: 1px solid #E3E3E3;
    width: calc(100% - 2px);
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  }
  .activity_show {
    background-color: #fff;
    color: #FFD704;
  }
  .navShop, .navBrand{
    box-sizing: border-box;
    border: 1px solid #E3E3E3;
    border-top: 0px;
  }
  .se-recom {
    padding: 20px 0;
  }
  .se-recom li + li{
    margin-top: 50px;
  }
  .se-recom-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .se-recom-a{
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  .se-recom-a img{
    width: 100%;
  }
  .se-recom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #878787;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    width: calc( 100% - 24px);
  }
  .se-recom-item p span{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    line-height: 13px;
    background-color: #FF6946;
    text-align: center;
    color: #fff;
    margin-right: 3px;
  }
  .se-recom-item p:nth-child(2){
    font-size: 16px;
    color: #FF4606;
  }
  .shop-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:40px;
    background:rgba(245,247,250,1);
    border:1px solid rgba(227,227,227,1);
  }
  .shop-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #ddd;
    margin-bottom: 2px;
  }
  .shops{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shops a span {
    font-size: 12px;
  }
  .shops a{
    height: 30px;
    background-color: #CFCFCF;
    display: flex;
    align-items: center;
    color: #878787;
    justify-content: space-around;
  }
/* zoom */
  .tab {
      overflow: hidden
  }
  
  .tab li,
  .tab a,
  .tab-item {
      cursor: pointer;
      float: left;
      text-align: center
  }
  
  .m,
  .mt,
  .mc,
  .mb {
      overflow: hidden
  }
  
  .mt .extra {
      float: right
  }
  
  .tab {
      border-bottom: 2px solid #BE0000;
      margin-bottom: 10px
  }
  
  .tab li {
      position: relative;
      height: 24px;
      padding: 3px 12px 0;
      overflow: hidden;
      margin-right: 3px;
      line-height: 24px;
      font-size: 14px;
      font-weight: 700;
      color: #c30
  }
  
  .tab span {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 10px;
      height: 27px
  }
  
  .tab a {
      float: none;
      color: #c30
  }
  
  .tab .curr {
      background-position: right -178px;
      color: #fff
  }
  
  .tab .curr span {
      background-position: 0 -178px
  }
  
  .tab .curr a {
      color: #fff
  }
  
  .zoom img {
      max-width: none
  }
  
  .jqzoom {
      float: left;
      border: 0;
      position: relative;
      padding: 5px;
      cursor: pointer;
      margin: 0;
      display: block
  }
  
  .zoomdiv {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 350px;
      background: #fff;
      border: 1px solid #CCC;
      display: none;
      text-align: center;
      overflow: hidden
  }
  
  .jqZoomPup {
      z-index: 10;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #aaa;
      background: #fff;
      opacity: .5;
      -moz-opacity: .5;
      -khtml-opacity: .5;
      filter: alpha(Opacity=50)
  }
  
  .spec-preview {
      width: 332px;
      height: 332px;
      border: 1px solid #DFDFDF;
  }
  .spec-preview >span,.spec-preview >span>img {
    width: 100%;
    height: 100%;
  }
  
  .spec-scroll {
    display: flex;justify-content: space-between;
      margin-top: 5px;
      width: 334px;
      overflow: hidden
  }
  
  .spec-scroll .prev,.spec-scroll .next {
    flex-shrink: 0;
    background: #eee;
    height: 62px;
    width: 34px;
    text-align: center;
    color: #FFCA45;
  }
  .spec-scroll .prev >i,
  .spec-scroll .next >i {
      font-size: 34px;
      line-height: 62px;
  }
  
  .spec-scroll .items {
      position: relative;
      width: 380px;
      height: 70px;
      overflow: hidden
  }
  
  .spec-scroll .items ul {
      position: absolute;
      width: auto;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      transition: all ease 0.2s;
  }
  
  .spec-scroll .items ul li {
      width: 62px;
      height: 62px;
      text-align: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spec-scroll .items ul li img {
      border: 2px solid transparent;
      width: 58px;
      height: 58px;
      display: block;
  }
  .spec-scroll .items ul li +li {
    margin-left: 6px;
  }
  
  .spec-scroll .items ul li img.man_choose {
      border-color: #F60;
  }

/* login 登陆 */
  .manage-title{
    font-size: 36px;
    color: #777;
  }
  .mask-login {display: flex; justify-content: center; align-items: center;}
  .is-login {
    width: 380px;
    background: #fff;
    position: relative;
    padding: 20px;
  }
  .closeUser{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 20px;
    line-height: 20px;
    color: #a3a3a3;
    cursor: pointer;
  }
  .btn-danger {
    background-color: #c81623;
    padding: 1px;
    border-radius: 0;
    font-size: 16px;
    font-family: 微软雅黑;
    word-spacing: 4px;
    width: 318px;
    text-align: center;
    color: #fff;
  }

  /* 自定义放大镜 */
  #m_demo{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  #m_small-box {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #m_float-box{
    position: absolute;
    display: none;
    width: 120px;
    height: 100px;
    background: #abcdef;
    border: 1px solid #ccc;
    opacity: 0.5;
  }

  #m_mark {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 10;
    cursor: move;
  }
  #m_big-box{
    display: none;
    position: absolute;
    top: -1px;
    left: 343px;
    width: 660px;
    height: 450px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 20;
  }

  #m_big-box img {
    position: absolute;
    z-index: 15;
  }
  #m_small-box >img{
    width: 100%;
    height: 100%;
  }